
.description-more {
  //pust
}

.description-more__name {
  font-family: @text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media screen and (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.description-more__price {
  font-family: @text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media screen and (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
