
.main-nav {
  text-align: center;
  background-color: white;

  @media screen and (min-width: @tablet-width) {
    //pust
  }

  @media screen and (min-width: @desktop-width) {
    background: transparent;
  }
}

.main-nav__list {
  //poka pust
}
