.page-header {
  position: relative;
  margin: 0 auto;
  width: 320px;

  @media screen and (min-width: @tablet-width) {
    width: 709px;
    display: flex;
    height: 54px;
    justify-content: space-between;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and  (min-width: @desktop-width) {
    height: 59px;
    padding-left: 110px;
    padding-right: 109px;
    margin-top: 54px;
    background: transparent;
    width: 1221px;
  }
}

.page-header__logo {
  margin-left: 20px;
  height: 65px;
  width: 192px;
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  img {
    padding-top: 10px;
  }

  @media screen and (min-width: @tablet-width) {
    margin-left: 0;

    img {
      padding-top: 0;
      width: 174px;
      height: 52px;
    }
  }

  @media screen and (min-width: @desktop-width) {
    img {
      width: 202px;
      height: 59px;
    }
  }
}

.page-header__logo--index {
  &:hover {
    opacity: initial;
  }

  &:active {
    opacity: initial;
  }
}
