
.program {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 680px auto;
    grid-template-rows: auto auto 196px;
  }
}

.program__header {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-left: 20px;
  margin-bottom: 37px;
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    margin-left: 29px;
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
    width: 432px;
    height: 60px;
    margin-top: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    margin-top: 73px;
    margin-bottom: 56px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.program__text {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 39px;
  width: 226px;
  height: 36px;

  @media (min-width: @tablet-width) {
    margin-left: 70px;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    height: 60px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.program__input-wrapper {
  margin-left: 19px;
  margin-right: 20px;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-left: 71px;
    margin-right: 67px;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
    height: 196px;
    margin-left: 111px;
    margin-right: 80px;
  }
}

.program__label {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  height: 46px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program__name,
.program__weight,
.program__age {
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin: 0 0 14px 11px;
  padding-left: 15px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    padding-left: 19px;
  }
}

.program__name {
  width: 228px;
  height: 45px;

  @media (min-width: @tablet-width) {
    width: 567px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 506px;
    height: 52px;
  }
}

.program__weight {
  width: 205px;
  height: 45px;

  @media (min-width: @tablet-width) {
    width: 536px;
    height: 52px;
    margin-left: 14px;
  }

  @media (min-width: @desktop-width) {
    width: 475px;
    height: 52px;
  }
}

.program__age {
  width: 172px;
  height: 45px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    width: 497px;
    height: 52px;
    margin-left: 12px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    height: 52px;
  }
}

.program__radio-wrapper {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    width: 628px;
    height: 196px;
    margin-left: 71px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    height: 196px;
    margin-left: 80px;
  }
}

.program__radio-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.program__radio-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-left: 28px;
  }
}

.program__radio-label {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-left: 45px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 60px;
  }
}

.program__radio {
  //position: absolute;
  opacity: 0;
  width: 30px;
  height: 30px;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.program__radio-item:nth-child(3) {
  margin-bottom: 0;
}

.program__radio-fake {
  width: 30px;
  height: 30px;
  margin: -30px;
  background-image: url("../img/icon-radio.svg");

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    margin: -40px;
    background-size: 40px;
  }
}

.program__radio:checked + .program__radio-fake {
  background-image: url("../img/icon-radio-checked.svg");

  @media (min-width: @tablet-width) {
    background-size: 40px;
  }
}


.program__radio:hover + .program__radio-fake {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='14.5' stroke='%23BABABA'/%3E%3C/svg%3E ");

  @media (min-width: @tablet-width) {
    background-size: 40px;
  }
}

.program__radio:checked:hover + .program__radio-fake {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='14.5' stroke='%23BABABA'/%3E%3Cellipse cx='15' cy='15' rx='6.75' ry='6.75' fill='%2368B738'/%3E%3C/svg%3E ");

  @media (min-width: @tablet-width) {
    background-size: 40px;
  }
}
