.slider {
  margin-top: 35px;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    padding-bottom: 70px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 15px;
    left: auto;
    right: 69px;
    padding-bottom: 0;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: -70px;
      height: 463px;
      width: 100%;
      background: linear-gradient(to right, #f2f2f2 52.8%, #eaeaea 47.2%);
      z-index: -1;
    }
  }
}

.slider--before .slider__photo--after {
  picture {
    opacity: 0;
  }
}

.slider--after .slider__photo--before {
  picture {
    opacity: 0;
  }
}

.slider__photo {
  picture {
    margin-bottom: 30px;
  }
}

.slider__photo--before {
  position: absolute;

  picture {
    display: block;
    width: 320px;
    height: 240px;
  }

  img {
    width: 320px;
    height: 240px;
  }

  @media (min-width: @tablet-width) {
    picture {
      width: 700px;
      height: 517px;
      margin-left: 42px;
      margin-bottom: 15px;
    }

    img {
      width: 700px;
      height: 517px;
    }
  }

  @media (min-width: @desktop-width) {
    picture {
      width: 690px;
      height: 517px;
      margin-left: 0;
      margin-bottom: 33px;
    }

    img {
      height: 517px;
      width: 690px;
    }
  }
}

.slider__photo--after {
  picture {
    display: block;
    width: 320px;
    height: 240px;
  }

  img {
    width: 320px;
    height: 240px;
  }

  @media (min-width: @tablet-width) {
    picture {
      width: 708px;
      height: 517px;
      margin-left: 34px;
      margin-bottom: 15px;
    }

    img {
      width: 708px;
      height: 517px;
    }
  }

  @media (min-width: @desktop-width) {
    picture {
      width: 690px;
      height: 517px;
      margin-left: 0;
      margin-bottom: 33px;
    }

    img {
      height: 517px;
      width: 690px;
    }
  }
}

.slider__switch {
  display: inline-block;
  margin-left: 18px;
  margin-right: 17px;
  width: 84px;
  height: 14px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;

  span {
    display: block;
    background: #68b738;
    border-radius: 6px;
    width: 35px;
    height: 6px;
    margin-top: 3px;
    margin-left: 5px;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 428px;
    height: 6px;
    background: #dcdcdc;
    border-radius: 6px;
    border: 0;
    top: 544px;
    margin-left: 24px;
    margin-right: 24px;

    span {
      width: 34px;
      height: 34px;
      background: #ffffff;
      border: 1px solid #dcdcdc;
      border-radius: 50%;
      box-sizing: border-box;
      margin-left: 198px;
      margin-top: -14px;

      &::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        background: #68b738;
        border-radius: 50%;
        margin-top: 12px;
        margin-left: 12px;
      }

      &:active {
        border: 1px solid #68b738;
      }
    }

    @media (min-width: @desktop-width) {
      top: 563px;
    }
  }
}

.slider__button {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  border: 0;
  background-color: #eaeaea;
  padding: 0;

  @media (min-width: @tablet-width) {
    border-bottom: 1px dotted #bebebe;
    padding-bottom: 1px;
    height: 30px;

    &:hover {
      border-bottom: 1px solid #919191;
    }

    &:active {
      border: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    background: #f2f2f2;
  }
}

.slider__button--before {
  margin-left: 64px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 99px;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 79px;
  }
}

.slider__button--after {
  margin-right: 58px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 98px;
    margin-left: 472px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 473px;
    margin-right: 0;
    background: #eaeaea;
  }
}
