@import "fonts";
.catalog {
  width: 320px;
  border: 2px solid sandybrown;
}
.catalog__header {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.catalog__list {

}
.catalog__item{
  width: 320px;
  list-style-type: none;
  margin-top: 10px; //пока так

}
.item__name {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #222222;
}
.item__photo {
  width: 140px;
  height: 112px;
}
.item__button {

  background: #68B738;
  padding: 6px 109px;
  text-decoration: none;
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.item__description{

}

.description__name {
  font-family: @text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;

}
.description__item {

}
.description__descr {
  font-family: @text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;

}
.catalog__show_more {

}
.show_more__show{
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}
.show_more__button {
  margin-top: 20px;
  background: #F2F2F2;
  //padding: 20px 94px;
  text-decoration: none;
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}
.show_more__description {
  font-family: @text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
.show_more__plus {
  img {
    width: 30px;
    height: 30px;
  }
}
