@import "fonts";

.media {
  text-align: center;
  width: 129px;
  height: 33px;
}

.media__list {
  //pust
}

.media__item {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.media__picture {
  //pust
}

.media__picture--vk {
  img {
    width: 23px;
    height: 16px;
  }
}

.media__picture--facebook {
  img {
    width: 22px;
    height: 22px;
  }
}

.media__picture--instagram {
  img {
    width: 16px;
    height: 16px;
  }
}
