@import "fonts";

.page-footer {
  text-align: center;
  width: 320px;
  height: 236px;
  border: 2px solid palevioletred;
  background: #f2f2f2;
}

.page-footer__logo {
  img {
    height: 24px;
    width: 128px;
  }
}

.page-footer__creators {
  //pust
}

.page-footer__media {
  //pust
}
