@import "fonts";

.page-header {
  background-color: white;
  height: 264px;

  @media (min-width: @tablet-width) {
    display: flex;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
    justify-content: space-around;
  }
}

.page-header__logo {
  img {
    width: 256px;
    height: 39px;

    @media (min-width: @tablet-width) {
      width: 174px;
      height: 52px;
    }

    @media (min-width: @desktop-width) {
      width: 202px;
      height: 59px;
    }
  }
}

.page-header__button {
  width: 24px;
  height: 16px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    //pusto
  }
}
