@import "fonts";

.page-footer {
  width: 320px;
  height: 236px;
  border: 2px solid palevioletred;
  background: #f2f2f2;
}

.page-footer__logo {
  img {
    height: 24px;
    width: 128px;
  }
}

.page-footer__creators {
  //pust
}

.creators__logo {
  img {
    height: 27px;
    width: 34px;
  }
}

.creators__name {
  font-family: @text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.page-footer__media {
  //pust
}

.page-footer__media__list {
  //pust
}

.page-footer__media__item {
  list-style-type: none;
}

.media__item {
  //pust
}

.media__item--vk {
  img {
    width: 23px;
    height: 16px;
  }
}

.media__item--facebook {
  img {
    width: 22px;
    height: 22px;
  }
}

.media__item--instagram {
  img {
    width: 16px;
    height: 16px;
  }
}
