@import "fonts";

.program {
  //pust
}

.program__header {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.program__text {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.program__name,
.program__weight,
.program__age {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.program__name {
  //poka pust
}

.program__weight {
  //poka pust
}

.program__age {
  //poka pust
}

.program__radio {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
