@import "fonts";

.programs {
  align-content: center;
}

.programs__list {
  display: grid;
  grid-template-rows: 280px 280px;
  padding: 0;
  justify-items: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    grid-template-rows: 400px 400px;
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

.programs__item {
  list-style-type: none;
  background: #f2f2f2;
  width: 280px;
  height: 266px;
  padding: 0;
  list-style-position: inside;

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 372px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    height: 374px;
  }
}

.programs__button {
  text-decoration: none;
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__photo {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: black;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    //pust
  }
}

.programs__text {
  font-family: @text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    //pust
  }
}

.programs__photo--slim {
  img {
    width: 50px;
    height: 53px;
  }
}

.programs__photo--fat {
  img {
    width: 67px;
    height: 50px;
  }
}
