@import "fonts";

.promo {
  text-align: center;
  width: 320px;
  height: 480px;
  border: 2px solid red;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 320px 305px;
  background-color: white;
  background-repeat: no-repeat;
}

.promo__button {
  width: 280px;
  height: 40px;
  background: #68b738;
  padding: 8px 44px;
  text-decoration: none;
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
}

.promo__photo {
  img {
    width: 280px;
    height: 270px;
    padding-top: 15px;
    padding-bottom: 8px;
  }
}

.promo__slogan {
  width: 198px;
  height: 14px;
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
  padding-bottom: 20px;
}

.promo__text {
  width: 249px;
  height: 72px;
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: white;
  margin: 0 auto;
  padding: 25px;
}
